<p id="notice"><%= notice %></p>

<p>
  <strong>Ciudad:</strong>
  <%= @city.name %>
</p>

<div class="table-responsive">
  <table class="table">
  <thead>
    <tr>
      <th scope="col" class="text-center">Temperatura</th>
      <th scope="col" class="text-center">Fecha de consulta</th>
      <th scole="col" class="text-center"></th>
    </tr>
  </thead>

  <tbody>
    <% @weathers.each do |weather| %>
      <tr>
        <td class="text-center"><%= weather.temp %></td>
        <td class="text-center"><%= weather.created_at %></td>
        <td class="text-center"><%= link_to edit_city_weather_path(@city,weather), class: "btn btn-warning" do %>
              <%= fa_icon "pencil"%>
            <% end%>
            <%= link_to [@city,weather], method: :delete, class: "btn btn-danger", data: { confirm: '¿Seguro?' } do %>
              <%= fa_icon "times"%>
            <% end%> </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= paginate @weathers, pagination_class: "pagination-sm" %>


<%= link_to cities_path, class: "btn btn-info" do %>
    <%= fa_icon "arrow-left"%> Volver
<% end %>


<%= link_to new_city_weather_path(@city), class: "btn btn-success" do %>
    <%= fa_icon "plus"%> Añadir temperatura
<% end %>
